## List

Q1. Define a list named my_list containing integers 1, 2, 3, 4, 5.

In [1]:
my_list = [1, 2, 3, 4, 5]

Q2. add the number 6 to the end of my_list created in Q1.

In [2]:
my_list = [1, 2, 3, 4, 5]  # Initial list
my_list.append(6)          # Adding 6 to the end of the list

Q3.  Remove only the first occurrences of item 3 from the following list_3.

list_3 = [6,5,1,2,3,5,3,5,7,9,3,8,2,3,1,0,3,9,6,5,3,4,7]

In [3]:
list_3 = [6,5,1,2,3,5,3,5,7,9,3,8,2,3,1,0,3,9,6,5,3,4,7]

# Remove the first occurrence of the item 3
list_3.remove(3)

print(list_3)

[6, 5, 1, 2, 5, 3, 5, 7, 9, 3, 8, 2, 3, 1, 0, 3, 9, 6, 5, 3, 4, 7]

Q4. Return the index of the first occurrence of item 9 in the following list_4.

list_4 = [6,5,1,2,9,3,5,3,5,3,8,2,3,1,0,3,9,6,5,3,4,7]

In [4]:
list_4 = [6,5,1,2,9,3,5,3,5,3,8,2,3,1,0,3,9,6,5,3,4,7]

# Find the index of the first occurrence of item 9
index_of_9 = list_4.index(9)

print(index_of_9)

4

Q5. Rotate the elements of a list lst to the right by 2 positions. list_5 is [1, 2, 3, 4, 5]. The output should be [4, 5, 1, 2, 3].

In [5]:
list_5 = [1, 2, 3, 4, 5]

# Rotate the list to the right by 2 positions
n = 2
rotated_list = list_5[-n:] + list_5[:-n]

print(rotated_list)

[4, 5, 1, 2, 3]

Q6. Return a new list where each element of the following list is multiplied by 5.

list_6 = [0,1,2,3,4,5,6]

In [6]:
list_6 = [0, 1, 2, 3, 4, 5, 6]

# Create a new list with each element multiplied by 5
new_list = [x * 5 for x in list_6]

print(new_list)

[0, 5, 10, 15, 20, 25, 30]

## Set

Q7. Create a Python program to find common elements of two sets.

set1 = {1, 2, 3, 4, 5}

set2 = {4, 5, 6, 7, 8}

In [7]:
# Define the sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Method 1: Using the intersection method
common_elements = set1.intersection(set2)

# Method 2: Using the & operator
# common_elements = set1 & set2

# Print the common elements
print("Common elements:", common_elements)

Common elements: {4, 5}

Q8. Write a Python script to check if a given set1 is a subset of set2.

set1 = {1, 2, 3}

set2 = {1, 2, 3, 4, 5}

In [8]:
# Define the sets
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

# Method 1: Using the issubset() method
is_subset = set1.issubset(set2)

# Method 2: Using the <= operator
# is_subset = set1 <= set2

# Print the result
if is_subset:
    print("set1 is a subset of set2.")
else:
    print("set1 is not a subset of set2.")

set1 is a subset of set2.

Q9. Write a Python program to find the symmetric difference between set A and the union of set B and set C.

Set A: {1, 3, 5, 7, 9}

Set B: {2, 4, 6, 8, 10}

Set C: {1, 2, 3, 4, 5}

In [9]:
# Define the sets
A = {1, 3, 5, 7, 9}
B = {2, 4, 6, 8, 10}
C = {1, 2, 3, 4, 5}

# Calculate the union of B and C
union_B_C = B.union(C)

# Calculate the symmetric difference between A and the union of B and C
symmetric_difference = A.symmetric_difference(union_B_C)

# Print the result
print("The symmetric difference between set A and the union of set B and set C is:", symmetric_difference)

The symmetric difference between set A and the union of set B and set C is: {2, 4, 6, 7, 8, 9, 10}

## Dictionary

Q10. Add a key (4:2000) to the following dictionary.

dict1 = {1:100, 2:500, 3:1000}

In [10]:
# Existing dictionary
dict1 = {1: 100, 2: 500, 3: 1000}

# Adding a new key-value pair to the dictionary
dict1[4] = 2000

# Print the updated dictionary
print(dict1)

{1: 100, 2: 500, 3: 1000, 4: 2000}

Q11. Create a dictionary by using the data specified in the following lists. Use data in list1 as keys and corresponding data in list2 as values.

list1 = ['a','b','c','d', 'e']

list2 = [1, 4, 9, 16, 25 ]

In [11]:
# Lists provided
list1 = ['a', 'b', 'c', 'd', 'e']
list2 = [1, 4, 9, 16, 25]

# Create a dictionary by pairing elements from list1 and list2
dictionary = dict(zip(list1, list2))

# Print the resulting dictionary
print(dictionary)

{'a': 1, 'b': 4, 'c': 9, 'd': 16, 'e': 25}

Q12. Write a program to remove spaces from keys of the given dictionary.

dict1 =  {'key 1': 10, 'key 2': 20, 'key 3': 30}

output dict2 = {'key1': 10, 'key2': 20, 'key3': 30}

In [12]:
# Original dictionary with spaces in keys
dict1 = {'key 1': 10, 'key 2': 20, 'key 3': 30}

# Remove spaces from the keys
dict2 = {key.replace(' ', ''): value for key, value in dict1.items()}

# Print the resulting dictionary
print(dict2)

{'key1': 10, 'key2': 20, 'key3': 30}